/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

.mat-drawer {
  min-width: 15rem;
}

mat-sidenav-container {
  min-height: 100vh;
}

div.horizontal {
  display: flex;
  overflow-x: scroll;
  mat-card {
    min-width: 10rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

mm-serie,
mm-person,
mm-movie {
  max-width: 220px;
  mat-card.mat-card {
    padding-bottom: 0;

    .mat-card-header {
      display: block;
      margin: -.5rem -1rem 0;
    }
    mat-card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

mm-show-route,
mm-movie-route {
  .poster {
    position: relative;
  }

  section.images div.poster div.image_content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: static;
    overflow: hidden;
  }

  section.images div.poster img.backdrop {
    position: relative;
    top: 0;
    width: 100vw;
    height: 56vw;
    border-radius: 0;
  }

  section.images div.poster img.poster,
  section.images div.poster div.no_image_holder {
    position: absolute;
    bottom: -20vw;
    width: 26vw;
    height: 39vw;
    margin-left: 16px;
    z-index: 4;
  }

  section.header.poster div.title div.mobile_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 16px;
    z-index: 4;
    min-height: calc(19vw + 16px);

    div.content {
      padding: 1rem 0;
      h2 {
        display: inline-block;
        z-index: 0;
        padding-left: calc(26vw + 16px);
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        font-family: Roboto,"Helvetica Neue",sans-serif;
      }
    }
  }
}

//https://thuis.tomreinartz.com/themoviedb/3/movie/476919?&api_key=ffbd2b663d53a66c2dd00bb517491490&append_to_response=videos,recommendations
