<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [(opened)]="showSideNav">
    <mat-list>

      <h3 matSubheader>Movies</h3>
      <mat-list-item> Pepper</mat-list-item>
      <mat-list-item> Salt</mat-list-item>
      <mat-list-item> Paprika</mat-list-item>

      <h3 matSubheader>Series</h3>
      <mat-list-item> Pepper</mat-list-item>
      <mat-list-item> Salt</mat-list-item>
      <mat-list-item> Paprika</mat-list-item>

      <h3 matSubheader>People</h3>
      <mat-list-item> Pepper</mat-list-item>
      <mat-list-item> Salt</mat-list-item>
      <mat-list-item> Paprika</mat-list-item>

    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon (click)="showSideNav = true">menu</mat-icon>
      <span>The Movie app</span>
      <span class="example-fill-remaining-space"></span>
      <!--<mat-icon (click)="showSearchBar = true">search</mat-icon>-->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
